/* Update color palette */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c; /* Dark background */
  color: #fff; /* Dark gray text */
}

.app-container {
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #2c2c2c; /* Darker container background */
  color: #fff; 
}


.refresh-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; /* Dark background for message */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center; /* Center-align text */
}

.refresh-message p {
  margin: 0;
  color: #fff; /* White text */
}

.dismiss-button {
  background-color: #673ab7; /* Purple */
  color: #fff; /* White text */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.dismiss-button:hover {
  background-color: #5c2c91; /* Darker purple on hover */
}


.title {
  text-align: center;
  color: #673ab7; /* Purple */
  margin-bottom: 70px;
  margin-top: 70px; /* Add space below the Game List title */
}

.search-container {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  margin-bottom: 20px;
  margin-left: 120px; /* Adjust margin-left as needed */
}


.search-input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-filter {
  display: flex;
  align-items: center;
  color: #673ab7; /* Purple */
}

.category-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-card {
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  height: 400px; /* Increased height to accommodate content */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  background-color: #333; /* Darker card background */
  color: #fff; /* White text */
  border: 1px solid #555; 
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.game-title {
  font-size: 1.2rem;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-info {
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #bababa; /* Dark gray text */
}

.image-container {
  text-align: center;
  margin: 10px 0;
  position: relative;
  height: 200px;
}

.game-thumbnail,
.game-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.add-button,
.delete-button,
.favourite-button {
  background-color: #673ab7; /* Purple */
  color: #fff; /* White text */
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.add-button:hover,
.delete-button:hover,
.favourite-button:hover {
  background-color: #303f9f; /* Darker blue on hover */
}

.favourite {
  background-color: #9c27b0; /* Dark purple for favourite button */
}

.unfavourite {
  background-color: #e91e63; /* Pink for unfavourite button */
}

.no-games {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.button-container {
  text-align: center;
}
